.idea
venv
local_settings.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
backend/app/.env
backend/.testmondata
backend/test.db

*.sqlite3

*/**/temp/
.pytest*
*/.mypy_cache
*/.pytest*
temp
temp.*
*temp.*
*/**/temp.*
*/**/.pytest*
dbs
COMMANDS.md
COMMANDS-mongodb.md
*/**/id_rsa
*/**/id_rsa.pub
*/**/*-key.pem
**.db
backend/temp-request-for-verify.txt
.env
*/**/.testmondata
